.image-tool {
  --bg-color: #cdd1e0;
  --front-color: #388ae5;
  --border-color: #e8e8eb;

  &__image {
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

    &-picture {
      width: 100%;
      height: auto;
      vertical-align: bottom;
      display: inline-block;
      user-select: none;
      -webkit-user-select: none;
    }

    &-preloader {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-size: cover;
      margin: auto;
      position: relative;
      background-color: var(--bg-color);
      background-position: center center;

      &::after {
        content: "";
        position: absolute;
        z-index: 3;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid var(--bg-color);
        border-top-color: var(--front-color);
        left: 50%;
        top: 50%;
        margin-top: -30px;
        margin-left: -30px;
        animation: image-preloader-spin 2s infinite linear;
        box-sizing: border-box;
      }
    }

    &-wrapper {
      max-width: 100%;
      display: inline-block;
      padding: 40px;
      border-radius: 4px;
      position: relative;
      transition: background-color ease 0.3s;
      user-select: none;
      flex-shrink: 0;
      background-color: #fafafa;
      box-sizing: border-box;
    }

    &-leftbtn {
      left: 10px;
    }

    &-rightbtn {
      right: 10px;
    }

    &-leftbtn,
    &-rightbtn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      max-height: 96px;
      min-height: 40px;
      border-radius: 3px;
      background: #BFBFBF;
      cursor: ew-resize;

    }
  }

  &--AlignCenter {
    &__image-wrapper {
      align-self: center;
    }
  }

  &--AlignLeft {
    &__image-wrapper {
      align-self: flex-start;
    }
  }

  &--AlignRight {
    &__image-wrapper {
      align-self: flex-end;
    }
  }


  &__caption {
    &[contentEditable="true"][data-placeholder]::before {
      position: absolute !important;
      content: attr(data-placeholder);
      color: #707684;
      font-weight: normal;
      display: none;
    }

    &[contentEditable="true"][data-placeholder]:empty {
      &::before {
        display: block;
      }

      &:focus::before {
        display: none;
      }
    }
  }

  &--empty {
    ^&__image {
      display: none;
    }
  }

  &--empty,
  &--loading {
    ^&__caption {
      display: none;
    }
  }

  .cdx-button {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: auto;
      margin: 0 6px 0 0;
    }
  }

  &--filled {
    .cdx-button {
      display: none;
    }

    ^&__image {
      &-preloader {
        display: none;
      }
    }
  }

  &--loading {
    ^&__image {
      min-height: 200px;
      display: flex;
      border: 1px solid var(--border-color);
      background-color: #fff;

      &-picture {
        display: none;
      }
    }

    .cdx-button {
      display: none;
    }
  }

  /**
   * Tunes
   * ----------------
   */

  &--withBorder {
    ^&__image {
      border: 1px solid var(--border-color);
    }
  }

  &--withBackground {
    ^&__image {
      padding: 15px;
      background: var(--bg-color);

      &-picture {
        max-width: 60%;
        margin: 0 auto;
      }
    }
  }

  &--stretched {
    ^&__image {
      &-picture {
        width: 100%;
      }
    }
  }

}

@keyframes image-preloader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ce-popover__item-algin-container {
  position: absolute;
  top: 0;
  left: 170px;
  width: 186px;
  background-color: #fff;
  border: 1px solid #e8e8eb;
  padding: 6px;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;

}

.ce-popover__item {
  position: relative;
}

.ce-popover {
  overflow: visible !important;
}

.ce-popover-algin-container {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  white-space: nowrap;
  padding: 3px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
}

.ce-popover__item-algin-container .ce-popover__item .ce-popover__item-icon {
  box-shadow: 0 0 0 1px rgba(201, 201, 204, .48) !important;
}

.ce-popover__item-algin-container .ce-popover__item.ce-popover__item--active .ce-popover__item-icon
,
.ce-popover__item-algin-container .ce-popover__item:hover .ce-popover__item-icon {
  box-shadow: none !important;
}